<div class="mt-4 container">
    <form>
        <div class="form-search">
            <label for="search-input" class="form-label">Nhập từ khóa</label>
            <input name="q" type="text" class="form-control" id="search-input">
        </div>
        <div class="form-search">
            <label for="gender-input" class="form-label">Nhập từ khóa</label>
            <select name="gender" type="text" class="form-control" id="gender-input">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>
